NODE_ENV=development
PORT=3333

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

AI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:5173
